.image-container {
    position: relative;
    display: inline-block;
    text-align: center; /* Aligns the figcaption inside the image container */
}

.image-container img {
    width: 100%;
    display: block;
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Change the color to suit your background */
    font-size: 18px; /* Adjust the font size as needed */
    background-color: rgba(0, 0, 0, 0.5); /* Optional: background color for better readability */
    padding: 5px 10px;
    border-radius: 5px; /* Optional: round the corners of the text background */
}



.slider-container {
    position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden; /* Hide extra images */
}

.slider-wrapper {
    width: 100%;
    overflow: hidden; /* Hide overflow content */
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 33.33%; /* Show 3 images at once, each image takes 1/3rd */
    box-sizing: border-box;
    padding: 10px;
}

.slide img {
    width: 100%;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.prev {
    left: -20px;
}

.next {
    right: 20px;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
